<div class="gommi_new">
  <br><br>
  <h1>全部うみにながそう</h1>
  <br>
  <%= render 'form', gommi: @gommi %>
</div>
<%= image_tag(src = "/assets/stone.png", style: "position: absolute; left: 0px; bottom: 0px; width: 100%; z-index: -1", id:"stone")%>
