
<link href="https://fonts.googleapis.com/css?family=Grand+Hotel" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<script src="jquery-3.3.1.min.js"></script>
<script>
$(function(){
  $(".headC").click(function(){
    $(".headB").slideToggle();
  });
});

$(document).ready(function(){
    $('.headB').click(function(){
        if($(window).width() > 767){
        } else{
            $('nav').slideToggle();
        }
    });
    $('.headC').click(function(){
        if($(window).width() > 767){
        } else{
            $('nav').hide();
        }
    });
});
$(window).resize(function(){
    if($(window).width() > 767){
        $('nav').show();
    } else{
        $('nav').hide();
    }
});
</script>


<body>
<div class="gommi_new">

  <%= render 'form', gommi: @gommi %>

<div class="iwa">
<%= image_tag(src = "/assets/ground.png", style: "position: absolute; left: 0px; bottom: 0px; width: 100%; z-index: -1", id:"stone")%>
</div>
</div>

</body>
