
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
<title>home</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Grand+Hotel" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

<script src="jquery-3.3.1.min.js"></script>
<script>
$(function(){
  $(".headC").click(function(){
    $(".headB").slideToggle();
  });
});
</script>
</head>

<body>



<div class="conA">
  <div class="container">
    <p>だれかに<span id="sent">届く</span>といいですね。</p>
    <h1> bottle </h1>
  </div>

<div class="box">
        <a href="/gommis/new" class="square_btn">ながしにいく</a>

        <a href="/gommis/pick" class="square_btn">ひろいにいく</a>
      </div>



<div id="canvas-container">
  <%= image_tag(src = "/assets/flowedBin.png", style: " position:  absolute; z-index: 1; width: 9%;", id:"flowedBi")%>
    <canvas id="sineCanva"></canvas>
  </div>

</div>
<img class="groundImage" src="assets/ground.png">


</body>
</html>

<%= javascript_include_tag "waveforComplete.js" %>
