
<div class="home">
  <br>
  <br>

  <h1>bottle</h1>
  <br>  <br>
  <br>  <br>
  <br>
  <br>
  <br>
  <div class="view">
    <div class="boxContainer">
    	<div class="box">
        <%= link_to("ながしにいく", new_gommi_path, style: "font-size: 80px; border-bottom: solid;")%>
      </div>
    	<div class="box">
        <%= link_to("ひろいにいく", gommis_pick_path, style: "font-size: 80px; border-bottom: solid;")%>
      </div>
    </div>
  </div>

    <div id="canvas-container">
      <%= image_tag(src = "/assets/flowedBin.png", style: " position:  absolute; z-index: 1; width: 9%;", id:"flowedBin")%>
        <canvas id="sineCanvas" width="800" height="300"></canvas>
    </div>
</div>
<%= javascript_include_tag 'wave' %>
