/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 $main: #1e90ff;
 @import "bootstrap";

 @charset "UTF-8";

 body{
   background: #cce6ff;
   a :hover{
     color: #fff;
       background-color: (0,0,0,0);
     text-decoration: none;
   }
}
body{
  font-family: 'Hannotate SC',
  'メイリオ',Meiryo,
  'Hiragino Kaku Gothic ProN',
  'ヒラギノ角ゴ ProN W3',
  sans-serif;
  margin: 0;
}

 /*ヘッダー*/
 header{
   position:absolute;
   top: 0;
   left: 0;
   z-index: 100;
   width: 100%;
   background-color: rgba(255,255,255,0.9);
 }

.container-small :hover{
    color: #fff;
    background-color: rgba(55,134,232,0.3);
    text-decoration: none;
}
 .headA{
   display: inline-block;
   line-height: 70px;
   padding-left: 20px;
   padding-right: 20px;
   color: #1e90ff;
   font-size: 24px;
   text-decoration: none;
 }


 .headB ul{
   margin: 0;
   padding: 0;
   list-style: none;
   z-index: 100;
 }
 .headB a{
   font-family: 'Hannotate SC';
   display: block;
   padding: 15px;
   color: #1e90ff;
   font-size: 24px;
   text-decoration: none;
   z-index: 100;
 }
 .headB a:hover{
   color: #fff;
   background-color: rgba(55,134,232,0.3);
 }
 @media(min-width:768px){
   header .container{
     display: flex;
     align-items: center;/*上下を中央揃えにするよ*/
     justify-content: space-between;/*横を両端揃えにするよ*/
     max-width: 1000px;
     margin-left: auto;
     margin-right: auto;
     z-index: 100;
   }
   .headB ul{
     display: flex; /*横並びにするよ*/
     z-index: 100;
   }
 }

 /*ボタン*/
 @media (max-width: 767px){
   header .container-small{
     display: flex;
     align-items: center;
     justify-content: space-between;
     z-index: 100;
   }
   .headC{
     margin-right: 10px;
     padding: 0;
     border: none;
     outline: none;
     background: none;
     font-size: 28px;
     opacity: 0.5;/*透明度*/
     cursor: pointer;/*上に来た時にマウスが手の形になるよ*/

   }
   .headC:hover{
     opacity: 0.3;
   }
   .headB{
     display: none;
   }
 }
 @media (min-width: 768px){
   .headC{
     display: none;
   }
   .headB{
     display: block !important;
   }
 }
